.mini_menu {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.video-block-ssw {
  margin-top: 20px;
}
.menu_td {
  display: block;
  width: 25%;
  float: left;
  border: 1px solid #dcd3d3;
  margin-right: 40px;
}
.menu_td {
  display: block;
  width: 25%;
  float: left;
}

p.menu_text {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
img.menu_img {
  width: 200px;
  height: 200px;
  margin: 0 10%;
}

.row_hover:hover {
  background-color: #f5f5f5;
}
img.slider_img {
  width: 20%;
}
.add-slider-options {
  position: absolute;
  right: 40px;
  top: 55px;
}
.add-options {
  position: absolute;
  right: 40px;
  top: 55px;
}

.add-options a>i {
  font-size: 25px;
  color: #50dc3f;
}

.add-slider-options a>i {
  font-size: 25px;
  color: #50dc3f;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload{
  width: 100%;
}
a.btn-success.save-btn {
  padding: 10px;
  border-radius: 3px;
  margin-left: 15px;
}